<div class="cardStyle">
  <div *ngFor="let mall of malls">
    <nz-card nzTitle="{{mall.name}}" [nzActions]="[actionSetting,actionEdit,actionEllipsis]">
      <div class="mall-date">{{mall.date}}</div>
      <div class="mall-creator">{{mall.creator}}</div>
      <div class="mall-address">{{mall.address}}</div>
    </nz-card>
    <ng-template #actionSetting>
      <i nz-icon type="setting" (click)="editMall(mall)"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i nz-icon type="edit" (click)="editRoom(mall)"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon type="delete" (click)="delMall(mall)"></i>
    </ng-template>
  </div>
</div>