<nz-layout style="width:100%;height:100%;">
	<nz-header>
		<div class="logo">Indoor-Map-Draw</div>
		<div style="float: right; padding: 2px 20px;color: #fff">
			<nz-avatar nzIcon="anticon anticon-search" style="background-color:#87d068;"></nz-avatar>&nbsp;&nbsp;&nbsp;&nbsp;
			<nz-avatar nzIcon="anticon anticon-bell" style="background-color:#87d068;"></nz-avatar>&nbsp;&nbsp;&nbsp;&nbsp;
			<nz-avatar nzIcon="anticon anticon-user" style="background-color:#87d068;"></nz-avatar>&nbsp;&nbsp;
			<span>张 三</span>
		</div>
	</nz-header>
	<nz-layout class="layout">
		<nz-sider style="background:#fff" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
			<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
				<li nz-submenu>
					<span title>
						<i nz-icon type="shop" theme="outline"></i>
						<span class="nav-text">楼宇管理</span>
					</span>
					<ul>
						<li nz-menu-item (click)="newMall()">新建楼宇</li>
						<li nz-menu-item (click)="allMall()">楼宇列表</li>
						<li nz-menu-item (click)="favMall()">我的收藏</li>
					</ul>
				</li>
				<li nz-submenu>
					<span title>
						<i nz-icon type="user" theme="outline"></i>
						<span class="nav-text">用户设置</span>
					</span>
					<ul>
						<li nz-menu-item>用户信息</li>
						<li nz-menu-item>安全管理</li>
						<li nz-menu-item>注销账号</li>
					</ul>
				</li>
				<li nz-submenu>
					<span title>
						<i nz-icon type="setting" theme="outline"></i>
						<span class="nav-text">系统设置</span>
					</span>
					<ul>
						<li nz-menu-item>项目管理</li>
						<li nz-menu-item>字典管理</li>
					</ul>
				</li>
			</ul>
		</nz-sider>
		<nz-layout class="layout">
			<nz-breadcrumb style="margin:16px 0;">
				<i nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="toggleCollapsed()" class="toggleTool"></i>
				<nz-breadcrumb-item>{{currentModule}}</nz-breadcrumb-item>
				<nz-breadcrumb-item>{{mallName}}</nz-breadcrumb-item>
			</nz-breadcrumb>
			<nz-content style="margin:0 16px;background:#fff; padding: 24px; min-height: 280px;overflow: auto;">
				<router-outlet></router-outlet>
			</nz-content>
			<nz-footer style="text-align: center;">@ter Copy 2018-9999</nz-footer>
		</nz-layout>
	</nz-layout>
</nz-layout>