/* You can add global styles to this file, and also import other style files */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.logo {
	color: #ffffff;
	width: 120px;
	height: 31px;
	background-size: 120px 31px;
	background-image: url(Indoor.png);
	margin: 8px 28px 16px 0;
	float: left;
}

.toggleTool {
	cursor: pointer;
	width: 36px;
	font-size: 18px !important;
}