<div class="map-tools">
	<button class="btn btn-primary" [disabled]="newMallDisable" (click)="creat('mall')">新建楼宇</button>
	<button class="btn btn-secondary" [disabled]="!newMallDisable" (click)="creat('floor')">新建楼层</button>
	<button class="btn btn-primary" [disabled]="!newMallDisable" (click)="edit($event)">编辑</button>
	<button class="btn btn-primary" [disabled]="!newMallDisable" (click)="draw($event,'Polygon')">画面</button>
	<button class="btn btn-success" [disabled]="!newMallDisable" (click)="save()">保存</button>
	<button class="btn btn-warning" (click)="log()">打印当前数据</button>
	<div style="background-color:bisque;width:200px;height:200px;">
		<ul>
			<li *ngFor="let item of features;let i = index;"> 第 {{i}}层</li>
		</ul>
	</div>
</div>
<!-- Waring -->
<modal-dialog *ngIf="warningModalVisible">
	<ng-template #header>
		<strong>
			<span class="label label-danger">提示</span>
		</strong>
	</ng-template>
	<ng-template #content>
		<div class="alert alert-danger">
			{{errInfo}}
		</div>
	</ng-template>
	<ng-template #footer>
		<button class="btn btn-primary" (click)="warningModalVisible=false">好的</button>
	</ng-template>
</modal-dialog>
<!-- Mall & Floor -->
<modal-dialog [title]="'楼宇信息'" *ngIf="modalVisible" (modalHidden)="modalHidden($event)">
	<ng-template #content>
		<fieldset class="form-group">
			<label for="formGroupExampleInput">建筑物名称</label>
			<input type="text" class="form-control" [(ngModel)]="mall.name" required placeholder="例如：光华大厦">
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupExampleInput2">最低楼层数</label>
			<input type="text" class="form-control" [(ngModel)]="mall.startFloor" required placeholder="例如：-2">
		</fieldset>
		<div *ngIf="validInfo!=''">
			<span class="badge badge-warning">提示</span>
			{{validInfo}}
		</div>
	</ng-template>
</modal-dialog>